@using MvcBelediyeOtomasyonu.ActiveFolder
@{
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.Title | Develi Belediyesi Otomasyon Sistemi</title>
    <link rel="icon" href="img/favicon.png">
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/morris/morris.css" />
    <link rel="stylesheet" href="~/assets/vendor/pnotify/pnotify.custom.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">


                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            @if (HttpContext.Current.User.Identity.Name.Split('|')[3] != "")
                            {
                                <img src="~/@HttpContext.Current.User.Identity.Name.Split('|')[3]" alt="@HttpContext.Current.User.Identity.Name.Split('|')[0]" class="img-circle" />
                            }
                            else
                            {
                                <img src="~/img/emty_user.png" alt="~/img/emty_user.png" class="img-circle" />
                            }

                        </figure>
                        <div class="profile-info" data-lock-name="@HttpContext.Current.User.Identity.Name" data-lock-email="">
                            <span class="name">@HttpContext.Current.User.Identity.Name.Split('|')[0]</span>
                            <span class="role">@HttpContext.Current.User.Identity.Name.Split('|')[4]</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/Profile/BilgiGetir/@HttpContext.Current.User.Identity.Name.Split('|')[1]"><i class="fa fa-user"></i> Profilim</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Ekranı Kilitle</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/Security/Logout" onclick="return confirm('Çıkış Yapılsın mı?')"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Modüller
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-@Html.ActivePage("Home","Index")">
                                    <a href="~/Home">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Anasayfa</span>
                                    </a>
                                </li>
                                @if (User.IsInRole("A") || User.IsInRole("RA") || User.IsInRole("U") || User.IsInRole("RU"))
                                {
                                    <li class="nav-parent nav-@Html.ExpandPage("Ruhsat", "Index")@Html.ExpandPage("Ruhsat", "Yeni")@Html.ExpandPage("Ruhsat", "BilgiGetir")@Html.ExpandPage("Ruhsat", "DetayGetir")@Html.ExpandPage("Ruhsat", "Search")@Html.ExpandPage("RuhsatTipleri", "Index")@Html.ExpandPage("RuhsatTipleri", "Yeni")@Html.ExpandPage("RuhsatTipleri", "BilgiGetir")@Html.ExpandPage("RuhsatTipleri", "DetayGetir")@Html.ExpandPage("RuhsatTipleri", "Sil")@Html.ExpandPage("KirsalRuhsat", "Index")@Html.ExpandPage("KirsalRuhsat", "Yeni")@Html.ExpandPage("KirsalRuhsat", "BilgiGetir")@Html.ExpandPage("KirsalRuhsat", "DetayGetir")@Html.ExpandPage("KirsalRuhsat", "Search")@Html.ExpandPage("KirsalRuhsat", "Sil") nav-@Html.ActivePage("Ruhsat", "Index")@Html.ActivePage("Ruhsat", "Yeni")@Html.ActivePage("Ruhsat", "BilgiGetir")@Html.ActivePage("Ruhsat", "DetayGetir")@Html.ActivePage("Ruhsat", "Search")@Html.ActivePage("RuhsatTipleri", "Index")@Html.ActivePage("RuhsatTipleri", "Yeni")@Html.ActivePage("RuhsatTipleri", "BilgiGetir")@Html.ActivePage("RuhsatTipleri", "DetayGetir")@Html.ActivePage("RuhsatTipleri", "Sil")@Html.ActivePage("KirsalRuhsat", "Index")@Html.ActivePage("KirsalRuhsat", "Yeni")@Html.ActivePage("KirsalRuhsat", "BilgiGetir")@Html.ActivePage("KirsalRuhsat", "DetayGetir")@Html.ActivePage("KirsalRuhsat", "Sil")">
                                        <a>
                                            <i class="fa fa-database" aria-hidden="true"></i>
                                            <span>Ruhsat Modülü</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li class="nav-@Html.ActivePage("Ruhsat", "Index")@Html.ActivePage("Ruhsat", "Yeni")@Html.ActivePage("Ruhsat", "BilgiGetir")@Html.ActivePage("Ruhsat", "DetayGetir")@Html.ActivePage("Ruhsat", "Search")">
                                                <a href="~/Ruhsat">
                                                    <span class="pull-right label label-primary">@ViewData["RuhsatSayisi"]</span>
                                                    <i class="fa fa-database" aria-hidden="true"></i>
                                                    Yapı Ruhsatları
                                                </a>
                                            </li>
                                            <li class="nav-@Html.ActivePage("KirsalRuhsat", "Index")@Html.ActivePage("KirsalRuhsat", "Yeni")@Html.ActivePage("KirsalRuhsat", "BilgiGetir")@Html.ActivePage("KirsalRuhsat", "DetayGetir")@Html.ActivePage("KirsalRuhsat", "Search")">
                                                <a href="~/KirsalRuhsat">
                                                    <span class="pull-right label label-primary">@ViewData["KirsalRuhsatSayisi"]</span>
                                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                                    Kırsal Yapı Ruhsatları
                                                </a>
                                            </li>
                                            <li class="nav-@Html.ActivePage("RuhsatTipleri", "Index")@Html.ActivePage("RuhsatTipleri", "Yeni")@Html.ActivePage("RuhsatTipleri", "BilgiGetir")@Html.ActivePage("RuhsatTipleri", "DetayGetir")@Html.ActivePage("RuhsatTipleri", "Sil")">
                                                <a href="~/RuhsatTipleri">
                                                    <span class="pull-right label label-primary">@ViewData["RuhsatTipSayisi"]</span>
                                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                                    Ruhsat Tipleri
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("A") || User.IsInRole("MA") || User.IsInRole("U") || User.IsInRole("MU"))
                                {
                                    <li class="nav-parent nav-@Html.ExpandPage("Mezarlik", "Index")@Html.ExpandPage("Mezarlik", "Yeni")@Html.ExpandPage("Mezarlik", "BilgiGetir")@Html.ExpandPage("Mezarlik", "DetayGetir")@Html.ExpandPage("MezarYeri", "Index")@Html.ExpandPage("MezarYeri", "Yeni")@Html.ExpandPage("MezarYeri", "BilgiGetir")@Html.ExpandPage("MezarYeri", "DetayGetir")@Html.ExpandPage("MezarYeri", "Search")@Html.ExpandPage("Adalar", "Index")@Html.ExpandPage("Adalar", "Yeni")@Html.ExpandPage("Adalar", "BilgiGetir")@Html.ExpandPage("Adalar", "DetayGetir") nav-@Html.ActivePage("Mezarlik", "Index")@Html.ActivePage("Mezarlik", "Yeni")@Html.ActivePage("Mezarlik", "BilgiGetir")@Html.ActivePage("Mezarlik", "DetayGetir")@Html.ActivePage("MezarYeri", "Index")@Html.ActivePage("MezarYeri", "Yeni")@Html.ActivePage("MezarYeri", "BilgiGetir")@Html.ActivePage("MezarYeri", "DetayGetir")@Html.ActivePage("MezarYeri", "Search")@Html.ActivePage("Adalar", "Index")@Html.ActivePage("Adalar", "Yeni")@Html.ActivePage("Adalar", "BilgiGetir")@Html.ActivePage("Adalar", "DetayGetir")">
                                        <a>
                                            <i class="fa fa-institution" aria-hidden="true"></i>
                                            <span>Mezarlık Modülü</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li class="nav-@Html.ActivePage("Mezarlik", "Index")@Html.ActivePage("Mezarlik", "Yeni")@Html.ActivePage("Mezarlik", "BilgiGetir")@Html.ActivePage("Mezarlik", "DetayGetir")">
                                                <a href="~/Mezarlik">
                                                    <span class="pull-right label label-primary">@ViewData["MezarlikSayisi"]</span>
                                                    <i class="fa fa-institution" aria-hidden="true"></i>
                                                    Mezarlıklar
                                                </a>
                                            </li>
                                            <li class="nav-@Html.ActivePage("Adalar", "Index")@Html.ActivePage("Adalar", "Yeni")@Html.ActivePage("Adalar", "BilgiGetir")@Html.ActivePage("Adalar", "DetayGetir")">
                                                <a href="~/Adalar">
                                                    <span class="pull-right label label-primary">@ViewData["AdaSayisi"]</span>
                                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                                    Adalar
                                                </a>
                                            </li>
                                            <li class="nav-@Html.ActivePage("MezarYeri", "Index")@Html.ActivePage("MezarYeri", "Yeni")@Html.ActivePage("MezarYeri", "BilgiGetir")@Html.ActivePage("MezarYeri", "DetayGetir")@Html.ActivePage("MezarYeri", "Search")">
                                                <a href="~/MezarYeri">
                                                    <span class="pull-right label label-primary">@ViewData["MezarSayisi"]</span>
                                                    <i class="fa fa-th-large" aria-hidden="true"></i>
                                                    Mezar Yerleri
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("A"))
                                {
                                    <li class="nav-@Html.ActivePage("KullaniciTip", "Index")@Html.ActivePage("KullaniciTip", "Yeni")@Html.ActivePage("KullaniciTip", "BilgiGetir")@Html.ActivePage("KullaniciTip", "DetayGetir")@Html.ActivePage("KullaniciTip", "Sil")">
                                        <a href="~/KullaniciTip">
                                            <span class="pull-right label label-primary">@ViewData["KullaniciTipSayisi"]</span>
                                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                            <span>Kullanıcı Tipleri</span>
                                        </a>
                                    </li>
                                    <li class="nav-@Html.ActivePage("Users", "Index")@Html.ActivePage("Users", "Yeni")@Html.ActivePage("Users", "BilgiGetir")@Html.ActivePage("Users", "DetayGetir")@Html.ActivePage("Users", "Sil")">
                                        <a href="~/Users">
                                            <span class="pull-right label label-primary">@ViewData["KullaniciSayisi"]</span>
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Kullanıcılar</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>

        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>
    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-appear/jquery.appear.js"></script>              <!-- My Stats altındaki daire grafik -->
    <script src="~/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>   <!-- My Stats altındaki daire grafik -->
    <script src="~/assets/vendor/pnotify/pnotify.custom.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/assets/javascripts/ui-elements/examples.modals.js"></script>

    @RenderSection("scripts", false)
</body>
</html>