@model Kullanicilar

@{
    ViewBag.Title = "Kullanıcı Ekleme ve Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropzone/css/basic.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropzone/css/dropzone.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote-bs3.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/assets/vendor/codemirror/theme/monokai.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>
</head>

<header class="page-header">
    <h2>@Html.ViewBag.title Paneli</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="~/Users">
                    <span>Kullanıcılar</span>
                </a>
            </li>
            <li><span>@Html.ViewBag.title</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Kaydet", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Kullanıcı Bilgileri</h2>
                    <p class="panel-subtitle">
                        Kullanıcı bilgilerini doğru bir şekilde yazıp kaydedin.
                    </p>
                </header>
                <div class="panel-body">

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kullanıcı Tip Seçimi:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.KullaniciTipId, Model.KullaniciTipListesi, "---Seçiniz---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.KullaniciTipId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ad:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Ad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Soyad:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Soyad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Unvan:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Unvan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Unvan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Birim: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Birim, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Birim, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">TC No: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.TcKimlikNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TcKimlikNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kullanıcı Adı: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.KullaniciAdi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Şifre: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Sifre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Sifre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">E-mail: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefon: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Açıklama: </label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kayıt Tarihi: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.SaveDate, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(x => x.SaveDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Değiştirme Tarihi: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.EditDate, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(x => x.EditDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Kullanıcı Resim:</label>
                        @if (Model.ImagePath == null)
                        {
                            <div class="col-md-6">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview">@Html.DisplayFor(m => m.ImagePath, new { @class = "form-control" })</span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-exists">Değiştir</span>
                                            <span class="fileupload-new">Dosya Seç</span>
                                            <input type="file" class="custom-file-input" id="customFile" name="ImagePath">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2">
                                <a href="~/Users/FormResimSil?File=kullaniciresim&Id=@Model.Id" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Dosya Sil" onclick="return confirm('@Model.Ad @Model.Soyad kaydı silinsin mi?')"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Dosya Sil</a>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control", @id = "inputReadOnly", @readonly = "readonly" })
                            </div>
                        }
                    </div>


                   
                    
                    <div class="form-group">
                        <div class="alert alert-info col-lg-2" style="margin-right:5px; text-align:center">
                            Yetki Giriş :<br />
                            @Html.RadioButtonFor(m => m.YetkiGiris, "True", new { @id = "YetkiGiris", @name = "YetkiGiris", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiGiris, "False", new { @id = "YetkiGiris", @name = "YetkiGiris", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="margin-right:5px; text-align:center">
                            Yetki Ruhsat :<br />
                            @Html.RadioButtonFor(m => m.YetkiRuhsat, "True", new { @id = "YetkiRuhsat", @name = "YetkiRuhsat", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiRuhsat, "False", new { @id = "YetkiRuhsat", @name = "YetkiRuhsat", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="margin-right:5px;text-align:center">
                            Yetki Ruhsat Yeni :<br />
                            @Html.RadioButtonFor(m => m.YetkiRuhsatYeni, "True", new { @id = "YetkiRuhsatYeni", @name = "YetkiRuhsatYeni", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiRuhsatYeni, "False", new { @id = "YetkiRuhsatYeni", @name = "YetkiRuhsatYeni", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="margin-right:5px;text-align:center">
                            Yetki Ruhsat Göster :<br />
                            @Html.RadioButtonFor(m => m.YetkiRuhsatGoster, "True", new { @id = "YetkiRuhsatGoster", @name = "YetkiRuhsatGoster", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiRuhsatGoster, "False", new { @id = "YetkiRuhsatGoster", @name = "YetkiRuhsatGoster", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="margin-right:5px;text-align:center">
                            Yetki Ruhsat Düzenle :<br />
                            @Html.RadioButtonFor(m => m.YetkiRuhsatDuzenle, "True", new { @id = "YetkiRuhsatDuzenle", @name = "YetkiRuhsatDuzenle", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiRuhsatDuzenle, "False", new { @id = "YetkiRuhsatDuzenle", @name = "YetkiRuhsatDuzenle", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="text-align:center;">
                            Yetki Ruhsat Detay :<br />
                            @Html.RadioButtonFor(m => m.YetkiRuhsatDetay, "True", new { @id = "YetkiRuhsatDetay", @name = "YetkiRuhsatDetay", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.YetkiRuhsatDetay, "False", new { @id = "YetkiRuhsatDetay", @name = "YetkiRuhsatDetay", @class = "custom-control-input" })
                            Hayır
                        </div>
                        <div class="alert alert-info col-lg-2" style="text-align:center;">
                            Kullanıcı Aktif :<br />
                            @Html.RadioButtonFor(m => m.Aktif, "True", new { @id = "Aktif", @name = "Aktif", @class = "custom-control-input" })
                            Evet
                            @Html.RadioButtonFor(m => m.Aktif, "False", new { @id = "Aktif", @name = "Aktif", @class = "custom-control-input" })
                            Hayır
                        </div>
                    </div>
                    




                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m=>m.SaveUserId)



                </div>



                <footer class="panel-footer">
                    <button type="submit" value="Upload" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Kaydet</button>
                    <a href="~/Users" type="button" class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Kapat</a>
                </footer>
            </section>
        }
    </div>


</div>

@section scripts{

    @*<script src="~/assets/vendor/jquery-autosize/jquery.autosize.js"></script>*@
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/vendor/select2/select2.js"></script>
    <script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="~/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="~/assets/vendor/dropzone/dropzone.js"></script>
    <script src="~/assets/vendor/bootstrap-markdown/js/markdown.js"></script>
    <script src="~/assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="~/assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="~/assets/vendor/codemirror/lib/codemirror.js"></script>
    <script src="~/assets/vendor/codemirror/addon/selection/active-line.js"></script>
    <script src="~/assets/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="~/assets/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/assets/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="~/assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/assets/vendor/codemirror/mode/css/css.js"></script>
    <script src="~/assets/vendor/summernote/summernote.js"></script>
    <script src="~/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>


    <!-- Examples -->
    <script src="~/assets/javascripts/forms/examples.advanced.form.js"></script>
}